<?xml version="1.0" encoding="utf-8"?>
<manifest
   xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.lifealert">

   <application
      android:icon="@drawable/icon"
      android:theme="@android:style/Theme.Dark">

      <activity
         android:name=".activity.ConfigurationActivity"
         android:label="@string/app_name">
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>

      <activity
         android:name=".activity.LifeAlerts_ChateActivity"
         android:label="@string/app_name">
      </activity>

      <activity
         android:name=".activity.SelectContactInfoActivity"
         android:label="@string/select_emergency" />

      <activity
         android:name=".activity.SensitivityTestActivity"
         android:label="@string/app_name" />

      <activity
         android:name=".activity.ShakeAlertActivity"
         android:label="@string/app_name" />

      <activity
         android:name=".activity.CallForHelpActivity"
         android:label="@string/app_name" />
      
      <activity
         android:name=".activity.SendEmailActivity"
         android:label="@string/app_name" />   

      <service android:name=".service.ShakeDetectorService" />

   </application>

   <uses-permission android:name="android.permission.READ_CONTACTS" />
   <uses-permission android:name="android.permission.WRITE_CONTACTS" />
   <uses-permission android:name="android.permission.CALL_PHONE" />
   <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
</manifest>
